<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Spotify Journey</title>
  <link href="./output.css" rel="stylesheet">
</head>

<body class="bg-blue-500 h-screen flex items-center justify-center">
  <div class="m-auto bg-white p-8 max-w-2xl">
    <h1 class="text-2xl font-bold mb-4">Loading Page</h1>
    <div class="text-lg mb-6">Your adventure is loading<span class="animate-pulse">...</span></div>
    <div class="flex items-center justify-center mb-6">
      <img src="static/van.webp" alt="Van" class="w-20 animate-bounce" />
    </div>
    <div class="flex items-center justify-center">
      <img src="static/earth.webp" alt="Earth" class="w-16 animate-spin" />
    </div>
    <ul id="playlist"></ul>
  </div>
  <script>
    const source = new EventSource('/stream');

    source.addEventListener('message', event => {
      console.log("received: ", event);

      try {
        const data = JSON.parse(event.data);

        if (data.foundSongs) {
          const listItem = document.createElement('li');
          listItem.textContent = `Found songs you might like!`;
          document.getElementById('playlist').appendChild(listItem);
        }
        if (data.songs) {
          const playlistElement = document.getElementById('playlist');

          data.songs.forEach(song => {
            const listItem = document.createElement('li');
            listItem.textContent = `${song.artist.name} - ${song.track}`;
            playlistElement.appendChild(listItem);
          });
          const braek = document.createElement('h3');
          braek.textContent = "!!!! new Playlists"
          playlistElement.appendChild(braek)
        }


      } catch (error) {
        console.error('Error parsing JSON:', error);
      }
    });
  </script>


</body>

</html>