<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spotify Journey</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
    <div class="flex overflow-hidden h-screen items-center bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-teal-400 via-amber-200 to-violet-600">
        <div class="m-auto">
          <div class="my-6 flex items-center justify-center">
            <p class="mx-8 text-xl font-medium">Made for</p>
            <img src="static/spotifylogo.png" class="w-56" />
          </div>
          <img src="static/spotifyjourneyjamslogo.png" class="w-108 px-10" />
          <div class="m-10 h-[30rem] justify-center ">
            <h3 class="text-center text-lg">Your adventure is loading<span id="loading-dots"></span></h3>
            <div class="m-10 flex flex-col items-center justify-center">
              <img src="static/van.png" class="z-10 -mb-2 ml-[50px] w-56 animate-bounce" />
              <img src="static/earth.png" class="w-100 z-0 animate-[spin_4s_linear_infinite]" />
            </div>
          </div>
        </div>
      </div>
      <script>
        setInterval(function () {
          const loadingDots = document.getElementById('loading-dots');
          const dotsCount = (new Date().getSeconds() % 3) + 1;
          loadingDots.textContent = '.'.repeat(dotsCount);
        }, 750);
      </script>
    <% if (includeScript) { %>
        <script>
            window.location.replace("/work");
        </script>
    <% } %>
</body>

</html>
