<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spotify Journey</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="page3">
    <div class="container">
        <div class="loading-images">
            <!-- Stacked Logos -->
            <div class="logo-container">
                <img id='spotifylogo' src="static/spotifylogo.png">
                <img id='journeyjamslogo' src="static/spotifyjourneyjamslogo.png">
            </div>
            <!-- Loading Text -->
            <h3 id="whitetext">Your adventure is loading...</h3>
            <!-- Image 1 -->
            <img id="image1" src="static/van.png" alt="Loading Image 1">
            <!-- Image 2 -->
            <img id="image2" src="static/earth.png" alt="Loading Image 2">
        </div>
    </div>
    <% if (includeScript) { %>
        <script>
            window.location.replace("/work");
        </script>
    <% } %>
</body>

</html>
